#first-page {
  margin-top: 50px;
}

.intro {
  margin-top: 20px;
  text-align: center;
}

#intro-title {
  color: white;
  font-size: 55px;
  margin-bottom: 5px;
  font-weight: normal;
}

#intro-subtitle {
  color: white;
  font-weight: normal;
  margin-bottom: 12px;
}

.visit-chatroom-image {
  width: 250px;
  margin: 0px auto 10px auto;
}

.visit-chatroom-button {
  background: black;
  width: 200px;
  height: 70px;
}

.enter-chatroom-button:hover {
  color: #ccc;
}

.intro a,
#home-footer a {
  text-decoration: none;
}

#homepage-tip {
  padding-top: 25px;
  color: white;
}

.homepage-tip-best-time {
  font-size: 1.3em;
  font-weight: bold;
}

#first-page {
  padding-bottom: 50px;
}

#second-page {
  background: #f6f6fa;
  padding-top: 30px;
}

#home-footer {
  background: #f6f6fa;
  padding-top: 25px;
  padding-bottom: 60px;
  text-align: center;
}

.call-to-action {
  font-size: 40px;
  letter-spacing: 0.5px;
}

.disclaimer {
  font-size: 16px;
  max-width: 800px;
  margin: 50px auto 0 auto;
}

@media screen and (min-width: 980px) {
  .grid {
    display: grid;
    grid-template-columns: minmax(10px, 5%) 1fr 20px 1fr minmax(10px, 5%);
    justify-items: center;
  }

  .vertical-align {
    align-items: center;
  }
}

@media screen and (max-width: 979px) {
  .grid {
    display: grid;
    justify-items: center;
  }

  .intro {
    margin-bottom: 50px;
  }

  #intro-title {
    font-size: 50px;
  }

  #home-footer {
    padding-top: 60px;
  }
}
