#first-page {
  margin-top: 50px;
}

.intro {
  margin-top: 20px;
  text-align: center;
}

#intro-title {
  color: white;
  font-size: 55px;
  margin-bottom: 5px;
  font-weight: normal;
}
 
#intro-subtitle {
  color: white;
  font-weight: normal;
  margin-bottom: 12px;
}

.enter-chatroom-button {
  background: black;
  width: 180px;
  height: 45px;
}

.enter-chatroom-button:hover {
  color: #ccc;
}

.intro a, #home-footer a {
  text-decoration: none;
}

#homepage-tip {
  padding-top: 25px;
  color: white;
}

.homepage-tip-best-time {
  font-size: 1.3em;
  font-weight: bold;
}

#first-page {
  padding-bottom: 50px;
}

#second-page {
  background: #F6F6FA;
  padding-top: 50px;
}

.list-items-container {
  align-self: center;
}

#home-footer {
  background: #F6F6FA;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.call-to-action {
  font-size: 40px;
  letter-spacing: .5px;
}


@media screen and (min-width: 980px) {
  .grid {
    display: grid;
    grid-template-columns: minmax(10px, 5%) 1fr 20px 1fr minmax(10px, 5%);
    justify-items: center;
  }
}

@media screen and (max-width: 979px) {
  .grid {
    display: grid;
    justify-items: center;
  }

  .intro {
    margin-bottom: 70px;
  }

  .list-items-container {
    margin-bottom: 50px;
  }

  #intro-title {
    font-size: 50px;
  }

}