.sticky-chat-buttons {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.sticky-chat-buttons button {
  padding: 6px 25px;
}

.sticky-chat-buttons button:focus {
  outline: none;
}

.real-chat {
  background: #00bff5;
}

.improv-chat {
  background: #87002a;
}

.end-chat {
  background: red;
}

.notification {
  padding: 4px 9px;
  border-radius: 50%;
  background-color: white;
  color: red;
  font-weight: bold;
}
