.chatroom-page-wrapper {
  color: white;
  text-align: center;
}

#tip {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 50px;
}

.tip-best-time {
  font-size: 1.3em;
  font-weight: bold;
}

.center-chatbox {
  display: flex;
  justify-content: center;
}
