.suggest-character {
  background: #87002a;
  width: 180px;
  height: 45px;
}

.start-chat {
  line-height: 4;
  width: 183px;
  background: black;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.no-internet {
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 15px;
  color: white;
  font-size: 25px;
  line-height: 1.3;
  border: 3px dashed red;
}
