.about-page-wrapper {
  padding-top: 30px;
  color: white;
  text-align: center;
}

.title-style {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

#tip {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 50px;
}

.suggest-character {
  background: #87002A;
  width: 180px;
  height: 45px;
}

.your-character-text {
  margin-top: 45px;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .75px;
}

.choose-char {
  border-radius: 20px;
  border: 2px solid lightgrey;
  letter-spacing: .25px;
  height: 50px;
  font-weight: bold;
  color: #0070FF;
  font-size: 20px;
  width: 320px;
  text-align: center;
  margin-bottom: 40px;

}

.choose-char:focus {
  outline: none;
  border: 2px solid deepskyblue;
}

.choose-char::placeholder {
  color: lightblue;
}

.start-chat {
  line-height: 4;
  width: 183px;
  background: black;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.not-clickable {
  cursor: not-allowed;
}

.waiting-for-peer {
  max-width: 500px;
  margin: auto;
  background: white;
  border: 1px solid deepskyblue;
  padding: 15px 20px 5px 20px;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .2;
  }
}

.waiting-title {
  font-size: 26px;
  color: blue;
  margin-block-end: 0;
}

.waiting-note {
  font-size: 18px;
  color: grey;
  margin-block-end: 0;
}

#cancel-chat-btn {
  background-color: #f00;
  margin: 10px;
  padding: 2px 26px;
}

.center {
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 780px) {
  .your-character-text {
    margin-right: 70px;
  }
}
