.guide-title {
  background: #87002a;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.good {
  font-weight: 500;
  color: green;
}

.bad {
  font-weight: 500;
  color: red;
}
