.reset-chat-container {
  text-align: center;
}

.reset-chat {
  color: white;
  background: black;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.character-names {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 15px;
}

.edit-names {
  border: 1px dashed #bbb;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}

.player1 {
  color: #0070ff;
  font-weight: bold;
}

.player2 {
  color: red;
  font-weight: bold;
}

.non-active-player {
  cursor: pointer;
  color: #aaa;
  background: #eee;
  padding-left: 4px;
  padding-right: 4px;
}

.message2:focus {
  border: 2px solid #ff9999;
}
