/* CSS common to both Contact Page and Improv Tips Page */

.page-wrapper {
  background: #f6f6fa;
  max-width: 94%;
  margin: auto;
  padding-bottom: 25px;
}

.common-center {
  max-width: 700px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (max-width: 979px) {
  .common-center {
    padding-left: 15px;
    padding-right: 15px;
  }
}
