/* CSS common to the Info pages: Contact Page, Improv Tips Page, and Private Rooms Page */

.page-wrapper {
  max-width: 700px;
  margin: auto;
  padding-bottom: 25px;
  border-radius: 20px;
  padding-top: 25px;
}

.common-center {
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (max-width: 740px) {
  .common-center {
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-wrapper {
    max-width: 98%;
  }
}
