/* my customized navbar styles */
#nav-wizard-hat {
  height: 31px;
  padding-right: 6px;
}

.nav-title {
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin-top: 0;
  /*Changes default margin after h1 */
  -webkit-margin-after: 15px;
}

#spacing-below-navbar {
  padding-top: 67px;
}

/* navbar styles from navbar how-to css video at: https://youtu.be/8QKOaTYvYUA */
:root {
  --background: linear-gradient(177deg, #00bff5, #87002a);
}

.nav-container {
  /*background: var(--background);*/
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 65px;
}

.nav-title {
  display: flex;
  height: 100%;
  justify-content: center;
}

.nav-title-link {
  display: flex;
  align-items: center;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  transition: all ease-in-out 250ms;
}
.nav-toggle-label span::before {
  height: 3px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  background: linear-gradient(128deg, #00bff5, #87002a);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  padding-top: 13px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a,
.dropdown {
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-container a,
.dropdown {
  color: white;
  text-decoration: none;
}

.nav-container a:hover,
.dropdown:hover {
  color: #ccc;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .nav-toggle-label span {
  transform: rotate(45deg);
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: translateY(-7px) rotate(-90deg);
}

.nav-toggle:checked ~ nav a,
.nav-toggle:checked ~ nav .dropdown {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 0.5fr auto minmax(600px, 3fr) 0.5fr;
  }

  .nav-title {
    grid-column: 2 / 3;
  }

  nav {
    /*  the 'all' css property is not yet supported by Edge, see caniuse.com/#search=all
        therefore, all of nav's css properties are each hard-coded to be reset to initial
        Note: when Edge adds support for the 'all' css property, all the resets to initital can be removed  */
    position: initial;
    text-align: initial;
    top: initial;
    background: initial;
    width: initial;
    transform: initial;
    transform-origin: initial;
    transition: initial;
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
    align-self: center;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a,
  .dropdown {
    opacity: 1;
    position: relative;
  }
}
